<link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <div class="nav">
    <nav>
      <a href="/flights">All Flights</a>
      <a href="/flights/new">Add Flight</a>
    </nav>
</div>