<%- include('./partials/header') %>
<script src="https://kit.fontawesome.com/6888a177ba.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/stylesheets/style.css" />
<%- include('./partials/nav') %>
<div class="airplane">
<i class="fas fa-plane"></i>
</div>
<%- include('./partials/footer') %>
