main {
  color: white;
  text-align: center;
}

td {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  font-size: .8em;
  height: 10px;
}

table {
  font-size: 1.1em;
  margin:auto;
  color: white;
}

table thead th {
  padding: 5px;
  border-bottom: 1.5px solid blue;
}

table td {
  padding: 5px;
  text-align: center;
}

td:nth-child(1) {
max-width: 76px;
min-width: 75px;
}
td:nth-child(2) {
max-width: 61px;
min-width: 60px;
}
td:nth-child(3) {
  max-width: 120px;
  min-width: 120px;
}

.flight-details {
  color: white;
  text-align: center;
  background-color: rgba(255,255,255, 0.1);
  border-radius: 10px;
  width: 650px;
  margin: auto;
  padding: 5px;;
  font-size: 1.1rem;
  font-weight: bold;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2), inset 0 0 1px rgba(255, 255, 255, 0.1);
}

.destinations-list {
  color: white;
  text-align: center;
  background-color: rgba(255,255,255, 0.1);
  border-radius: 10px;
  width: 650px;
  margin: auto;
  padding: 5px;;
  font-size: .9rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2), inset 0 0 1px rgba(255, 255, 255, 0.1);
}

.addTickets {
  text-align: center;
  margin:auto;
  padding: 25px;
  color: white;
  text-align: center;
  background-color: rgba(255,255,255, 0.1);
  border-radius: 10px;
  width: 650px;
  margin: auto;
  padding: 5px;;
  font-size: .9rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2), inset 0 0 1px rgba(255, 255, 255, 0.1);
}
